.dialogs {
 display: grid;
 grid-template-columns: 2fr 10fr;

}

.dialogsItems {
 padding: 30px;
 text-decoration: none;
 
}

.dialogsItems .active {
color: gold;
}

.messages {
padding: 30px;
}

.messages .message {
padding: 17px;
    
}

.dialog a {
text-decoration: none;
}